inst/lib
.Rproj.user
.Rproj.user/
.Rproj.user/**
src/*.o
src/*.so
src/*.dll
src/symbols.rds
.Rhistory
.RData
.DS_Store

## QtCreator
Rcpp.pro
Rcpp.pro.user
*.autosave
.#*

*.tar.gz

vignettes/*_cache

## GNU global
GPATH
GRTAGS
GTAGS

##
# local/ ## Find better place for script files

## docker helpers
docker/*sh
docker/*/*.sh
